.DS_Store
.terraform/
terraform.tfstate
crash.log
crash.*.log
*.auto.tfvars
terraform.tfstate.backup

.DS_Store.DS_Store
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
*.pem

